@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@font-face {
  font-family: 'Toko';
  src: url(../Assets/Teko-SemiBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Toko';
  src: url(../Assets/Teko-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Toko';
  src: url(../Assets/Teko-SemiBold.ttf);
  font-weight: 300;
}
